Integrantes  
Bryann Alfaro  
Raul Jimenez  
Donaldo Garcia

In [1]:
#Import 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Parte 1 – Ingeniería de características

### Exploracion de caracteristicas

In [2]:
#Read the csv into a df
df = pd.read_csv('completeSpamAssassin.csv')
df2 = pd.read_csv('enronSpamSubset.csv')
#Print the first 5 rows of the df
df.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [3]:
df2.head()

,Unnamed: 0.1,Unnamed: 0,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1

In [4]:
#Eliminar las columnas que no se van a utilizar Unnamed en ambos
df = df.drop(['Unnamed: 0'], axis=1)
df2 = df2.drop(['Unnamed: 0'], axis=1)
df2 = df2.drop(['Unnamed: 0.1'], axis=1)

In [5]:
#Join the two dataframes
df = df.append(df2, ignore_index=True)

C:\Users\Bryann\AppData\Local\Temp\ipykernel_15680\3655632441.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

In [6]:
df.head()

                                                Body  Label
0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3  ##############################################...      1
4  I thought you might like these:\n1) Slim Down ...      1

In [7]:
df.shape

(16046, 2)

In [8]:
#lowercase of column names
df.columns = df.columns.str.lower()
df.head()

                                                body  label
0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3  ##############################################...      1
4  I thought you might like these:\n1) Slim Down ...      1

In [9]:
#Eliminar na
df = df.dropna()
df.shape

(16045, 2)

### Preprocesamiento