Integrantes  
Bryann Alfaro  
Raul Jimenez  
Donaldo Garcia

In [1]:
#Import 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Parte 1 – Ingeniería de características

### Exploracion de caracteristicas

In [2]:
#Read the csv into a df
df = pd.read_csv('data/completeSpamAssassin.csv')
df2 = pd.read_csv('data/enronSpamSubset.csv')
#Print the first 5 rows of the df
df.head()

   Unnamed: 0                                               Body  Label
0           0  \r\nSave up to 70% on Life Insurance.\r\nWhy S...      1
1           1  1) Fight The Risk of Cancer!\r\nhttp://www.adc...      1
2           2  1) Fight The Risk of Cancer!\r\nhttp://www.adc...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\r\n1) Slim Dow...      1

In [3]:
df2.head()

,Unnamed: 0.1,Unnamed: 0,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\r\n * * * ur...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1

In [4]:
#Eliminar las columnas que no se van a utilizar Unnamed en ambos
df = df.drop(['Unnamed: 0'], axis=1)
df2 = df2.drop(['Unnamed: 0'], axis=1)
df2 = df2.drop(['Unnamed: 0.1'], axis=1)

In [5]:
#Join the two dataframes
df = df.append(df2, ignore_index=True)

C:\Users\raula\AppData\Local\Temp\ipykernel_38568\3655632441.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

In [6]:
df.head()

                                                Body  Label
0  \r\nSave up to 70% on Life Insurance.\r\nWhy S...      1
1  1) Fight The Risk of Cancer!\r\nhttp://www.adc...      1
2  1) Fight The Risk of Cancer!\r\nhttp://www.adc...      1
3  ##############################################...      1
4  I thought you might like these:\r\n1) Slim Dow...      1

In [7]:
df.shape

(16046, 2)

In [8]:
#lowercase of column names
df.columns = df.columns.str.lower()
df.head()

                                                body  label
0  \r\nSave up to 70% on Life Insurance.\r\nWhy S...      1
1  1) Fight The Risk of Cancer!\r\nhttp://www.adc...      1
2  1) Fight The Risk of Cancer!\r\nhttp://www.adc...      1
3  ##############################################...      1
4  I thought you might like these:\r\n1) Slim Dow...      1

In [9]:
#Eliminar na
df = df.dropna()
df.shape

(16045, 2)

### Preprocesamiento

In [10]:
# Remove stop words
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

# Exclude stopwords with Python's list comprehension and pandas.DataFrame.apply.
df['body'] = df['body'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
print(df)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\raula\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                    body  label
0      Save 70% Life Insurance. Why Spend More Than Y...      1
1      1) Fight The Risk Cancer! http://www.adclick.w...      1
2      1) Fight The Risk Cancer! http://www.adclick.w...      1
3      ##############################################...      1
4      I thought might like these: 1) Slim Down - Gua...      1
...                                                  ...    ...
16041  Subject: monday 22 nd oct louise , half hour f...      0
16042  Subject: missing bloomberg deals stephanie - b...      0
16043  Subject: eops salary survey questionnaire need...      0
16044  Subject: q 3 comparison hi louise , comparison...      0
16045  Subject: confidential folder safely pass infor...      0

[16045 rows x 2 columns]

In [11]:
# Remove punctuation
import string
df['body'] = df['body'].str.replace(f'[{string.punctuation}]', '')
print(df)

C:\Users\raula\AppData\Local\Temp\ipykernel_38568\1140702011.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['body'] = df['body'].str.replace(f'[{string.punctuation}]', '')

                                                    body  label
0      Save 70 Life Insurance Why Spend More Than You...      1
1      1 Fight The Risk Cancer httpwwwadclickwspcfmo3...      1
2      1 Fight The Risk Cancer httpwwwadclickwspcfmo3...      1
3          Adult Club   Offers FREE Membership     IN...      1
4      I thought might like these 1 Slim Down  Guaran...      1
...                                                  ...    ...
16041  Subject monday 22 nd oct louise  half hour fre...      0
16042  Subject missing bloomberg deals stephanie  bel...      0
16043  Subject eops salary survey questionnaire need ...      0
16044  Subject q 3 comparison hi louise  comparison f...      0
16045  Subject confidential folder safely pass inform...      0

[16045 rows x 2 columns]

In [12]:
# Turn every word to lowercase
df['body'] = df['body'].str.lower()
print(df)

                                                    body  label
0      save 70 life insurance why spend more than you...      1
1      1 fight the risk cancer httpwwwadclickwspcfmo3...      1
2      1 fight the risk cancer httpwwwadclickwspcfmo3...      1
3          adult club   offers free membership     in...      1
4      i thought might like these 1 slim down  guaran...      1
...                                                  ...    ...
16041  subject monday 22 nd oct louise  half hour fre...      0
16042  subject missing bloomberg deals stephanie  bel...      0
16043  subject eops salary survey questionnaire need ...      0
16044  subject q 3 comparison hi louise  comparison f...      0
16045  subject confidential folder safely pass inform...      0

[16045 rows x 2 columns]

In [13]:
# Expand contractions
import contractions
df['body'] = df['body'].apply(lambda x: ' '.join([contractions.fix(word) for word in x.split()]))
print(df)

                                                    body  label
0      save 70 life insurance why spend more than you...      1
1      1 fight the risk cancer httpwwwadclickwspcfmo3...      1
2      1 fight the risk cancer httpwwwadclickwspcfmo3...      1
3      adult club offers free membership instant acce...      1
4      i thought might like these 1 slim down guarant...      1
...                                                  ...    ...
16041  subject monday 22 nd oct louise half hour free...      0
16042  subject missing bloomberg deals stephanie beli...      0
16043  subject eops salary survey questionnaire need ...      0
16044  subject q 3 comparison hi louise comparison fi...      0
16045  subject confidential folder safely pass inform...      0

[16045 rows x 2 columns]